

.dot0
{left: -20px;
top: 3%;}

.dot00
{left: -20px;
top: 18%;}

.dot000
{left: -20px;
top: 25%;}

.dot1
{left: 12.6%;
top: 9%;}

.dot2
{left: 9%;
top: 28.5%;}

.dot3
{left: 27.6%;
top: 6.4%;}

.dot4
{left: 26.5%;
top: 32%;}

.dot5
{left: 34.2%;
top: 18.7%;}

.dot6
{left: 40.65%;
top: 25.5%;}

.dot7
{top: 46.9%;
left: 38.2%;}

.dot8
{top: 8.2%;
left: 48.3%;}

.dot9
{top: 32.5%;
left: 50.1%;}

.dot10
{top: 60.4%;
left: 51.9%;}

.dot11
{left: 44.5%;
top: 68.5%;}

.dot12
{left: 55.6%;
top: 81.9%;}

.dot13
{left: 50.4%;
top: 97.3%;}

.dot14
{left: 60.8%;
top: 25%;}

.dot15
{left: 64.3%;
top: 41.3%;}

.dot16
{left: 65.4%;
top: 9.8%;}

.dot17
{left: 73.4%;
top: 31.7%;}

.dot18
{left: 77%;
top: 15.7%;}

.dot19
{left: 84.4%;
top: 23.9%;}

.dot20
{left: 87.6%;
top: 5.1%;}

.dot21
{left: 96.7%;
top: 26.3%;}

.dot22
{right: 0px;
	margin-right: -20px;
top: 0;}

.dot23
{right: 0px;
	margin-right: -20px;
top: 10%;}

.dot24
{right: 0px;
	margin-right: -20px;
top: 20%;}








.dots0
{left: -20px;
top: 3%;}

.dots00
{left: -20px;
top: 18%;}

.dots000
{left: -20px;
top: 25%;}

.dots1
{left: 12.6%;
top: 9%;}

.dots2
{left: 9%;
top: 28.5%;}

.dots3
{left: 27.6%;
top: 6.4%;}

.dots4
{left: 26.5%;
top: 32%;}

.dots5
{left: 34.2%;
top: 18.7%;}

.dots6
{left: 40.65%;
top: 25.5%;}

.dots7
{top: 46.9%;
left: 38.2%;}

.dots8
{top: 8.2%;
left: 48.3%;}

.dots9
{top: 32.5%;
left: 50.1%;}

.dots10
{top: 60.4%;
left: 51.9%;}

.dots11
{left: 44.5%;
top: 68.5%;}

.dots12
{left: 55.6%;
top: 81.9%;}

.dots13
{left: 50.4%;
top: 97.3%;}

.dots14
{left: 60.8%;
top: 25%;}

.dots15
{left: 64.3%;
top: 41.3%;}

.dots16
{left: 65.4%;
top: 9.8%;}

.dots17
{left: 73.4%;
top: 31.7%;}

.dots18
{left: 77%;
top: 15.7%;}

.dots19
{left: 84.4%;
top: 23.9%;}

.dots20
{left: 87.6%;
top: 5.1%;}

.dots21
{left: 96.7%;
top: 26.3%;}

.dots22
{right: 0px;
	margin-right: -20px;
top: 0;}

.dots23
{right: 0px;
	margin-right: -20px;
top: 10%;}

.dots24
{right: 0px;
	margin-right: -20px;
top: 20%;}

.doties0
{left: -20px;
top: 3%;}

.doties00
{left: -20px;
top: 18%;}

.doties000
{left: -20px;
top: 25%;}

.doties1
{left: 12.6%;
top: 9%;}

.doties2
{left: 9%;
top: 28.5%;}

.doties3
{left: 27.6%;
top: 6.4%;}

.doties4
{left: 26.5%;
top: 32%;}

.doties5
{left: 34.2%;
top: 18.7%;}

.doties6
{left: 40.65%;
top: 25.5%;}

.doties7
{top: 46.9%;
left: 38.2%;}

.doties8
{top: 8.2%;
left: 48.3%;}

.doties9
{top: 32.5%;
left: 50.1%;}

.doties10
{top: 60.4%;
left: 51.9%;}

.doties11
{left: 44.5%;
top: 68.5%;}

.doties12
{left: 55.6%;
top: 81.9%;}

.doties13
{left: 50.4%;
top: 97.3%;}

.doties14
{left: 60.8%;
top: 25%;}

.doties15
{left: 64.3%;
top: 41.3%;}

.doties16
{left: 65.4%;
top: 9.8%;}

.doties17
{left: 73.4%;
top: 31.7%;}

.doties18
{left: 77%;
top: 15.7%;}

.doties19
{left: 84.4%;
top: 23.9%;}

.doties20
{left: 87.6%;
top: 5.1%;}

.doties21
{left: 96.7%;
top: 26.3%;}

.doties22
{right: 0px;
	margin-right: -20px;
top: 0;}

.doties23
{right: 0px;
	margin-right: -20px;
top: 10%;}

.doties24
{right: 0px;
	margin-right: -20px;
top: 20%;}

