# Кодировка
AddDefaultCharset UTF-8

#Редирект на домен с WWW
RewriteEngine on
RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

ExpiresActive On
ExpiresDefault "access plus 1 week"
ExpiresByType text/html "access plus 1 day"
ExpiresByType text/php "access plus 1 day"
ExpiresByType text/css "modification plus 1 month"
ExpiresByType image/jpeg "modification plus 1 month"
ExpiresByType image/gif "modification plus 1 month"
ExpiresByType image/png "modification plus 1 month"
ExpiresByType text/javascript "modification plus 1 month"
ExpiresByType text/Jscript "modification plus 1 month"



<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
Header append Vary User-Agent
</IfModule>

<IfModule mod_deflate.c>
    #The following line is enough for .js and .css
    AddOutputFilter DEFLATE js css

    #The following line also enables compression by file content type, for the following list of Content-Type:s
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml

    #The following lines are to avoid bugs with some browsers
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
  
    <FilesMatch "\.(js|css|php)$">
    SetOutputFilter  DEFLATE
    </FilesMatch>

</IfModule>